<h3>Submit the following Content.</h3>
<%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <p id="check_data">Title:<%= @post.title %></p>
  <%= form.hidden_field :description %>
  <p id="check_data">Description:<%= @post.description %></p>
  <div class="submit">
    <%= form.submit  "Record" %>
    <%= form.submit "Back", name: 'back' %>
  </div>
<% end %>